<%- include('partials/headers') %>
<main class="main-content">
  <% if(post){ %>
  <div class="columns">
    <div class="column post-container">
      <img
        class="post-image round-border"
        src="<%= post.thumbnails %> "
        alt=""
      />
      <h1 class="post-title title is-1 has-text-success"><%= post.title %></h1>
      <p class="post-info">
        <span class="created-at"
          ><%= post.createdAt.toLocaleDateString('en-gb') %>
        </span>
        <span class="comments-count">0 comments</span>
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
      </p>
      <div class="field">
        <div id="editor-container" class="blog-content"></div>
      </div>
    </div>
  </div>
  <% } %>
</main>
<div style="clear: both"></div>

<script src="/js/post.js"></script>
<%- include('partials/footers') %>
